.App-header {
	text-align: center;
	background-color: #222;
	height: 130px;
	padding: 10px;
	color: white;
}

.App-content { 
	display: table; margin-left: auto; margin-right: auto;
}

.App-title {
	padding: 5px;
}

#search-input {
	width: 200px;
}

#search-button {
	border: none;
	background-color: skyblue;
    cursor:pointer;
	margin: 5px;
	padding: 5px;
}

.App-title {
	font-size: 1.5em;
}

